{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>

    <title>{% block title %} Desafío Cumplo {% endblock %}</title>
</head>
<canvas style="z-index: -100; position: absolute;"></canvas>
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a href="/" class="navbar-brand">Desafío Cumplo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% block menu %}
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/indicadores">Nueva Consulta</a>
            </li>
          </ul>
        </div>
        {% endblock %}
      </div>
    </div>
<div class="container-fluid mt-5">

    {% block content %} Contenido BASE {% endblock %}

</div>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.12.1.custom/datepicker-es.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/locale/es.js' %}"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
{% block extrajs %} {% endblock %}
</body>
</html>